language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - jruby-19mode
  - rbx

gemfile:
  - Gemfile.old
  - Gemfile

matrix:
  allow_failures:
    - rvm: jruby-19mode
    - rvm: rbx

notifications:
  email: false
