source 'https://rubygems.org'

gemspec

gem 'rake'
gem 'mocha', require: false

git 'git://github.com/rails/rails.git', branch: '4-0-stable' do
  gem 'railties', require: 'rails/railtie'
  gem 'actionpack'
end